 @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;800&display=swap');

:root {
  --resetMarPad: 0;

  /* fonts */
  --mainFont: 'Mukta', sans-serif;

  /* colors */
  --headerBg: #293241;
  --headerColor: #f9f9f9;
}

* {
  margin: var(--resetMarPad);
  padding: var(--resetMarPad);
  font-family: var(--mainFont);
  box-sizing: border-box;
}

/* TYPOGRAPHY */
.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, minmax(max-content, 1fr));
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px clamp(0.625rem, -0.6730769230769231rem + 5.538461538461538vw, 6.25rem);
  position: relative;
}

/* LOOK */
.header {
  background: var(--headerBg);
  color: var(--headerColor);
}

.header__btn_open-topnav {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  filter: invert(100%);
}

@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
    grid-row-end: 1;
    gap: 10px;
  }
  .logo {
    margin: auto;
  }
  .topnav {
    align-self: flex-start;
  }
}


.logo {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 1.875rem;
  font-size: clamp(1.875rem, 1.1538461538461537rem + 3.076923076923077vw, 5rem);
}

.topnav {
  display: flex;
  gap: 20px;
  font-size: 1.0625rem;
  font-size: clamp(1.0625rem, 0.9759615384615384rem + 0.36923076923076925vw, 1.4375rem);
}

.topnav__item {
  list-style: none;
}

.topnav__link {
  text-decoration: none;
  color: white;
  padding: 2px 10px;
  position: relative;
  z-index: 10;
  display: block;
}


.topnav__link::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #313c4e;
  border-radius: 0 25px 0px 0;
  z-index: -10;
  transition: border-radius 0.3s;
}

.topnav__link:hover {
  color: #313c4e;
}

@media screen and (min-width: 400px) {
  .topnav__link:hover::before {
    border-radius: 0;
    background: white;
  }
}


@media screen and (max-width: 400px) {
  .header {
    flex-direction: row;
  }
  .topnav {
    display: none
  }
  .header__btn_open-topnav {
    display: flex; /* center the img inside the button */
  }
  .header__btn_open-topnav:focus + .topnav_mobile_show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  .topnav_mobile_show {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #313c4e;
    width: 100%;
    height: 100%;
  }
  .topnav_mobile_show .topnav__link {
    font-size: 2rem;
    flex-basis: 100%;
    letter-spacing: 2px;
    transition: 0.3s;
    color: rgba(255,255,255,0.5);
  }
  .topnav_mobile_show .topnav__link:hover {
    color: rgba(255,255,255, 1);
  }
}
./*header__btn_open-topnav:focus {
  display: none;
}*/

/* TYPOGRAPHY */
/*

.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, minmax(max-content, 1fr));
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px clamp(0.625rem, -0.6730769230769231rem + 5.538461538461538vw, 6.25rem);
  position: relative;
}


 */
